{% extends "base.html" %}

{% block content %}

<div class="app-layout">

    <aside class="sidebar">
        <div class="sidebar-logo">🔒 Privy<span>Chat</span></div>

        <h4>WORKSPACE</h4>
        <a href="/chat">Group Chat</a>
        <a href="/direct">Direct Messages</a>
        <a href="/private">Private Team Chat</a>

        {% if user|lower in ["maryam", "jake", "sara", "admin", "layla"] %}
           <a href="/admin">Admin Panel</a>
        {% endif %}

        <a href="/account" class="sidebar-section">ACCOUNT</a>
        <a href="/logout">Logout</a>
    </aside>

    <main class="main-content">
        <div class="workspace-card">
            <h1>Admin Panel</h1>

            <p>Company: <strong>{{ company }}</strong></p>
            <p>Logged in as <strong>{{ user }}</strong></p>

            <div class="message-box">
                <p><strong>Total employees:</strong> {{ employee_count }}</p>
                <p><strong>Total group messages:</strong> {{ group_message_count }}</p>
                <p><strong>Total direct messages:</strong> {{ direct_message_count }}</p>
            </div>

            <h2>Add Employee</h2>
            <form method="POST">
                <input type="hidden" name="action" value="add">

                <label>Username:</label>
                <input type="text" name="username" placeholder="Enter employee username" required>

                <label>Password:</label>
                <input type="password" name="password" placeholder="Enter employee password" required>

                <button type="submit" class="btn-primary">Add Employee</button>
            </form>

            <h2>Employees</h2>

            {% for employee in employees %}
                <div class="employee-row">
                    <span>{{ employee[0] }}</span>

                    {% if employee[0] != user %}
                        <form method="POST">
                            <input type="hidden" name="action" value="delete">
                            <input type="hidden" name="username" value="{{ employee[0] }}">
                            <button type="submit" class="btn-danger">Delete</button>
                        </form>
                    {% else %}
                        <small>Current user</small>
                    {% endif %}
                </div> 
            {% endfor %}

                 
        <h3>Pending Users</h3>

{% for user in pending_users %}
<div class="employee-card">
    <span>{{ user[0] }}</span>

    <form method="POST" class="inline-form">
        <input type="hidden" name="action" value="approve">
        <input type="hidden" name="username" value="{{ user[0] }}">
        <button class="btn-primary">Approve</button>
    </form>
</div>
{% endfor %}
        </div>
    </main>

</div>

{% endblock %}
